*/scivis-contest-2025/
*/dataset/
*/__pycache__/
*/node_modules/
*/mywidget/js/
*/.ipynb_checkpoints/
*/__pycache__/
.DS_Store
.vscode/
.pypirc
*/dist/
*/build/
*.egg-info/
*.pyc
*/.alloylens-venv/
node_modules/