# Include the same assets for sdist
recursive-include src/alloylens/css *.css
recursive-include src/alloylens/js-build *.js
recursive-include src/alloylens/data *

# Exclude dev/large stuff from sdist
prune dataset
prune model_checkpoint
prune node_modules
prune figures
prune notes

global-exclude *.ipynb *.key *.DS_Store __pycache__ *.py[cod]